In [1]:
import pandas as pd

In [2]:
import math

In [4]:
df=pd.read_csv(r'/Users/jdvpl/Documents/ipa/ipa/1automatization-excel-word/files/2iris_dataset.csv',delimiter=",",encoding="ISO-8859-1")

In [5]:
df.head()

,longitud_sépalo,anchura_sépalo,longitud_pétalo,anchura_pétalo,clase
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [6]:
df['área_sépalo']=df[' anchura_sépalo']*df[" anchura_sépalo"]*math.pi

In [7]:
df.head()

,longitud_sépalo,anchura_sépalo,longitud_pétalo,anchura_pétalo,clase,área_sépalo
0,5.1,3.5,1.4,0.2,Iris-setosa,38.484510
1,4.9,3.0,1.4,0.2,Iris-setosa,28.274334
2,4.7,3.2,1.3,0.2,Iris-setosa,32.169909
3,4.6,3.1,1.5,0.2,Iris-setosa,30.190705
4,5.0,3.6,1.4,0.2,Iris-setosa,40.715041

In [8]:
"""Guardar archivo"""

'Guardar archivo'

In [10]:
df.to_excel("/Users/jdvpl/Documents/ipa/ipa/1automatization-excel-word/files/2iris_dataset.xlsx",sheet_name="Iris_mod")

In [21]:
"Otro excel"

'Otro excel'

In [35]:
df2=pd.read_excel("/Users/jdvpl/Documents/ipa/ipa/1automatization-excel-word/files/1Distrito_poblacion.xlsx",sheet_name="figuras")

In [36]:
df2.head()

   lado  radio         area
0     2      5    31.415927
1     3      8    75.398224
2     2      4    25.132741
3    10     56  1759.291886
4    12     34  1281.769803

In [32]:
 df2["area"]=df2["lado"]*df2["radio"]*math.pi

In [33]:
df2.head()

   Unnamed: 0  lado  radio         area
0           0     2      5    31.415927
1           1     3      8    75.398224
2           2     2      4    25.132741
3           3    10     56  1759.291886
4           4    12     34  1281.769803

In [34]:
df2.to_excel("/Users/jdvpl/Documents/ipa/ipa/1automatization-excel-word/files/1Distrito_poblacion.xlsx",sheet_name="figuras")